[Desktop Entry]
Type=Application
Name=Pensadero
Comment=Widget de notas en EWW
Exec=sh -c 'eww daemon; eww open notes_window'
Icon=~/.config/eww/widgets/pensadero/logos/pensieve-logo-rmv.png
Terminal=false
Categories=Utility;

